html,
body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

img {
    vertical-align: bottom;
}

iframe {
    border: none;
}

label {
    display: inline-block;
}

button {
    cursor: pointer;
    padding: 0;
}

input[type="button"] {
    cursor: pointer;
    padding: 0;
}

:disabled {
    cursor: not-allowed;
}

table {
    border-collapse: collapse;
}

ul {
    list-style: none;
    padding: 0;
}